.homePage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.threadListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    margin-left: 10px;
    padding-right: 5px;
    overflow-y: scroll;
    max-height: calc(100vh - 60px);
}

.threadListElement {
    padding-left: 9px;
    padding-right: 7px;
    width: 100%;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.threadListFooter {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.threadTitleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.threadListTitle {
    font-size: 24px;
    color: #1F2021;
    font-weight: 600;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.threadLikeIcon {
    margin-right: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    color: #1F2021;
}

.threadAuthor,
.threadTime {
    margin: 0;
    font-size: 15px;
    color: #A5A4A1;
    z-index: 20;
}

.listLikeNumber {
    margin-top: 2px;
}

.threadDetailContainer {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 30px;
    border-left: #1F2021 1px dashed;
}

.threadContentTitle {
    font-size: 50px;
    color: #1F2021;
    line-height: 1;
    letter-spacing: -0.5px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.threadInfoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.operatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    border-top: #AAA9A7 1.2px solid;
    padding-top: 8px;
    padding-left: 5px;
}

.threadContentOperator {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 11px;
    font-size: 15px;
    color: #1F2021
}

.threaadInfoTime {
    margin-top: 3px;
    font-size: 15px;
    color: #A5A4A1;
    margin-left: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.threadInfoAuthorRow {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    font-size: 15px;
    gap: 3px;
}

.threadInfoBy {

    color: #1F2021
}

.threadInfoAuthor {
    user-select: none;
    cursor: pointer;
}

.threadContentDetailContainer {
    margin-top: 10px;
    font-size: 17px;
    margin-top: 20px;
}

.emptyIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.enmptyTitleSentence {
    font-size: 30px;
    font-weight: 600;
    color: #1F2021;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enmptySentence {
    font-size: 16px;
    font-weight: 400;
    color: #1F2021;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.selected {
    background-color: rgba(235, 187, 108, 0.2) !important;
    border-right: rgba(235, 187, 108) 3px solid;
}


.threadInfoLeft {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.threadInfoRight {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.threadEditButton {
    margin-left: 5px;
}

.watchImg {
    width: 24px;
}

.commentImg {
    /* position: fixed; */
    width: 20px;
    height: 20px;

}

.operatorRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.threadContentComment {
    position: relative;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 10px;
    height: 30px;
    padding-left: 9px;
    padding-top: 2px;
    align-items: end;
    width: 60vh;

    white-space: nowrap;
    gap: 10px
}

.commentInput {
    width: 50vh;
    height: 21px;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    overflow: auto;
}

.commentInput:focus {
    outline: none;
}

.commentInput::placeholder {
    color: #A5A4A1;
    font-size: 15px;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: none;
}

.commentListTitle {
    margin-left: 5px;
    font-size: 20px;
    color: #1F2021;
    font-weight: 600;
    font-family: Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.commentElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 3px;
    border-bottom: #AAA9A7 1px solid;
    width: 100%;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.commentLikeContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #1F2021;
}

.commentLikeIcon {
    width: 20px;
    height: 20px;
}

.commentElementLeft {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.commentElementDetail {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 5px;
    flex-grow: 1;
}

.commentDetailUpperRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

.commentOperator {
    gap: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.commentAuthor {
    font-size: 17px;
    font-weight: 600;
    color: #1F2021;
    font-weight: 600;
}

.commentTime {
    color: #A5A4A1;
    font-size: 14px;
}

.commentElementRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-right: 5px;
    height: 100%;
    padding-bottom: 3px;
}

.commentReply {
    user-select: none;
    cursor: pointer;
}

.commentEdit {
    user-select: none;
    cursor: pointer;

}

.commentReplyInputRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 5px;
    padding-bottom: 5px;
}

.commentReplyInputRow.hidden {
    display: none;
}

.commentReplyInput {
    width: 100%;
    height: 21px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-top: 5px;
    overflow: auto;
    resize: vertical;
}



.commentReplySubmit {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.emptyCommentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.emptyCommentContainerRow {
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #F3F3F5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wholeComment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.childrenContainer {
    width: 100%;
    padding-left: 20px;
}